.rightContentSide {
  display: flex;
  background-color: black;
}

.listLiRight {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
}

.listLiRight:hover {
  background-color: dimgray;
  border-radius: 10px;
}

.contactsTitle {
  color: white;
  margin-left: 20%;
  margin-top: 80%;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.userPic {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.chatBoxDiv {
  position: absolute;
  bottom: 0;
  right: 0;
  &.hidden {
    display: none;
  }
}
